$border-color:rgb(151, 151, 151);
$border-color1:rgb(207, 207, 207);

@mixin grid-section($area, $color, $font-size){
    grid-area: $area;
    color: $color;
    font-size: $font-size;
}

.activity{
    width:100%;
    max-height: 230px;
    box-sizing: border-box;
    background-color:rgb(230, 230, 230);
    border: 1px solid $border-color;
    display: grid;
    grid-template-areas: 
        'title title'
        'date time'
        'importance manage';

    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 50%;
    // align-items: ;
    // justify-content: space-between;
    gap:10px;

    input{
        border-bottom:1px solid rgb(95, 95, 95);
        // width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;margin: auto;
        white-space: nowrap
    }
    input:focus{
        outline-width:0px; 
    }

    div{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}

.activity-title{
    @include grid-section(title, rgb(61, 61, 61), 1.2rem);
    // height: 3.5rem;
    // display: flex;
    // align-items: center;
    // border:none;
    // width: 100%;
    border:none;
    background: none;
    border-bottom: 1px solid $border-color1;
    // margin-left: 100px;
    // text-overflow: clip

}

.activity-datails{
    border:none;
    background: none;
    overflow: hidden;
    // font-size:1rem;
}

.activity-details-date{
    background: none;
    border:none;
    font-family: 'Open sans';
    font-size: 1rem;
    @include grid-section(date, rgb(61, 61, 61), none);
    // width: 100%;
}

// .activity-settings{
// }

.activity-details-time{
    border:none;
    background: none;
    font-family: 'Open sans';
    // width: 100%;
    // font-size: 1rem;
    @include grid-section(time, rgb(61, 61, 61), 1rem);
    // @include grid-section(settings, rgb(61, 61, 61), none);
}

.activity-importance{
    grid-area: importance;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    background-color: rgb(25, 235, 105);
    color:rgb(32, 128, 69);
    @include grid-section(importance, rgb(61, 61, 61), 1rem);
    font-weight: bold
}

.activity-manage{
    @include grid-section(manage, rgb(61, 61, 61), 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-settings, .activity-manage{
    // width: 100%;
    text-align: center;
    border-left: 1px solid $border-color1;
}

.activity-manage-button{
    height: 50px;
    width: 90%;
    border:none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s;
    background-color: white;
    &:hover{
        background-color: rgb(94, 94, 94);
        color: white
    }
}